<!DOCTYPE html>
<lang lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/Favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="/static/financial.css">
        <title>Help us Help you</title>
    </head>

    <body>
        <nav>
            <a href="/dashboard">
                <img src="/static/finsync (black).png" alt="logo">
            </a>
        </nav>
        <h1>LINKS FOR EDUCATIONAL LITERACY AND MATTERS REGARDING FINANCE :</h1>


        <h2>YOUTUBE LINKS :</h2>
        <div class="video-card1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pWU3DYvnP0s?si=HltWeIRejRch7LJX"
                frameborder="0" allowfullscreen></iframe>

            <div class="video-info">
                <h2>- FINANCIAL LITERACY FOR ALL BY MR. ANIL LAMBA</h2>
            </div>
        </div>
        <div class="video-card2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zNTNWQmf1DE?si=F-ZdLfv6IWriS9ME"
                frameborder="0" allowfullscreen></iframe>

            <div class="video-info">
                <h2>- THE SEVEN THINGS YOU NEED TO LEARN ABOUT FINANCIAL LITERACY</h2>

            </div>
        </div>
        <div class="video-card3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WN9Mks1s4tM?si=OB9DvvTfp_9enP2p"
                frameborder="0" allowfullscreen></iframe>

            <div class="video-info">
                <h2>- TEN FINANCIAL CONCEPT YOU MUST KNOW BY CA RACHANA</h2>

            </div>
        </div>

        <div class="links">
            <h3>BLOG LINKS :</h3>
            <a href="https://moneyexcel.com/#google_vignette">1.Money excel blog about literacy</a>
            <a href="https://www.basunivesh.com/blog/">2.Basunivesh vlog about literacy</a>
        </div>