<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/landing.css">
  <link rel="icon" href="/static/favicon.png" type="image/x-icon" />
  <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon" />
  <title>Finsync</title>
</head>

<body>
  <div id="root">
    <div class="navbar">
      <div class="logo">
        <a href="/">
          <img src="/static/favicon.png" alt="Symbol" width="70px">
        </a>
      </div>
      <ul>
        <li><a href="/signup">SIGN UP</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/about">ABOUT US</a></li>
      </ul>


    </div>


    <div class="ima">
      <img src="/static/logo(red).png" alt="logo">
    </div>


    <form action="/login" method="get">
      <div class="button">
        <button class="butt" id="golog">Start Tracking!</button>
      </div>



  </div>

</body>

</html>
