<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/static/Favicon.png" type="image/x-icon" />
  <link rel="shortcut icon" href="/static/Favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/static/team.css">
  <title>Our Team</title>
</head>

<body>
  <header>
    <a href="/dashboard">
      <img src="/static/fs (1).png" alt="log">
    </a>
    <h1>Our Team</h1>
  </header>

  <div class="team-member">
    <img src="/static/sri.jpeg" alt="Member 1" />
    <div>
      <h2>Srijan Sarkar</h2>
      <p>Role: Frontend Engineer</p>
    </div>
  </div>

  <div class="team-member">
    <img src="/static/pp.jpeg" alt="Member 2" />
    <div>
      <h2>Prayas Pal</h2>
      <p>Role: Backend Engineer</p>
    </div>
  </div>

  <div class="team-member">
    <img src="/static/deba.jpeg" alt="Member 3" />
    <div>
      <h2>Debayudh Basu</h2>
      <p>Role: UI/UX designer</p>
    </div>
  </div>
</body>

</html>